nifi-template/UPDATE_STATUS_With_Cancel.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>356dcfc2-0190-1000-daf2-fa2a621765af</groupId>
    <name>UPDATE STATUS With Cancel</name>
    <snippet>
        <controllerServices>
            <id>805d6100-9d65-3112-0000-000000000000</id>
            <parentGroupId>7ec05c0d-a941-37f1-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>PG - DB</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://#{ENV_POSTGRES_HOST}:#{ENV_POSTGRES_PORT}/#{ENV_POSTGRES_DB_NAME}</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/drivers/postgresql-42.6.0.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>#{ENV_POSTGRES_USERNAME}</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>bf18c72c-ec24-3098-0000-000000000000</id>
            <parentGroupId>7ec05c0d-a941-37f1-0000-000000000000</parentGroupId>
            <bulletinLevel>DEBUG</bulletinLevel>
            <bundle>
                <artifact>nifi-gcp-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>application-default-credentials</key>
                    <value>
                        <name>application-default-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>compute-engine-credentials</key>
                    <value>
                        <name>compute-engine-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>service-account-json-file</key>
                    <value>
                        <name>service-account-json-file</name>
                    </value>
                </entry>
                <entry>
                    <key>service-account-json</key>
                    <value>
                        <name>service-account-json</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
            </descriptors>
            <name>GCPCredentialsControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>application-default-credentials</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>compute-engine-credentials</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>service-account-json-file</key>
                </entry>
                <entry>
                    <key>service-account-json</key>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService</type>
        </controllerServices>
        <processGroups>
            <id>6b4b7df6-bae6-36d3-0000-000000000000</id>
            <parentGroupId>7ec05c0d-a941-37f1-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>06c8fb74-18b6-369b-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>ce1a2dbb-da25-3dc3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>8479a2a9-5d1a-3167-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>09a9fff1-38f0-3560-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>fd9e8cdb-3898-34de-ba29-a1f4ca3db21c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>da02f039-7f6e-3c63-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>4c3cb120-31ae-326f-8dba-4564bd6e6465</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>c2556304-0afc-3210-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5b2d3365-ba1a-374f-be90-435f9a50e420</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>199f665a-c578-3f2d-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>0d5bde27-0b6d-3026-b9ad-3ba64e75893a</versionedComponentId>
                    <backPressureDataSizeThreshold>100 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>7d7acdac-12c1-3c54-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>80841a8e-dc38-3306-b614-5ff69ab28799</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>0fe37229-b49d-317b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2f11e471-97ab-3b26-8853-fc618f249394</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>305aa4e6-4079-3726-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>70fe6aed-f49c-368c-ab9b-c3f5edb2dd4f</versionedComponentId>
                    <backPressureDataSizeThreshold>100 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>72703114-72ba-345c-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>95d49473-9396-3073-8f8b-5f22bf3378d2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name>fail</name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>f905df5c-ce8d-3466-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7ed6584d-642b-3066-87df-d23b9c9cce07</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>37c47b14-c071-3ef9-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>ef193ff1-5e94-3a19-bba5-6f51d40a9759</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>36cf87af-8954-3aa7-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>e8eb1a73-3336-3198-94fd-99cafff59d10</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>1e40ef3c-3551-3ec7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1e89adc2-9199-3028-94e0-6c7539effa9d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>398648e1-c89d-38e4-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>6104fcc8-a1d3-3e52-8fcf-e043f48e96c6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>3ed3ebb2-d557-35a0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>792c5f1f-3db6-3a39-bce7-91839bc602e0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>11dd5d72-05af-37c9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0c810d11-5f0f-38df-aaf6-19d4fe2e3796</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>567ade44-0e34-31f3-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>c418cf75-4bfb-3684-9408-20e98dd23f16</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>ec894684-6a98-3db8-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>e0b762f1-4282-3077-8ba1-706b1f84029c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>c2556304-0afc-3210-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5b2d3365-ba1a-374f-be90-435f9a50e420</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5dd61c50-e3c3-31ef-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>573664fd-6fb3-3317-ac90-86d1e1b2664a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
                        <id>a7247e36-7d63-383a-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>bf23e77f-3fdd-351b-af1e-6790cd3bd6e7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>d0ca785b-cd6c-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0b5df99f-bdbc-3e51-be81-a81204e38808</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>66532ab2-8ba9-399a-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>17766661-a8f6-3aeb-ac8e-72e338215d17</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>0fe37229-b49d-317b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2f11e471-97ab-3b26-8853-fc618f249394</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>f552c4f7-a84c-3553-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>efc05cca-1612-3edc-9e68-432bd0ff78d2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f23fd8b-3818-3c42-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>c92622dc-0d6a-3c03-9804-f1d134cdb4f0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>d0ca785b-cd6c-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0b5df99f-bdbc-3e51-be81-a81204e38808</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>3ed3ebb2-d557-35a0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>792c5f1f-3db6-3a39-bce7-91839bc602e0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7b4cb9c1-b41b-3d42-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>8cd1bc2b-237f-3e61-9951-fef970b712fe</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>1e40ef3c-3551-3ec7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1e89adc2-9199-3028-94e0-6c7539effa9d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
                        <id>68837f49-98e9-3a39-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>6d46d1c9-33ad-341b-8dad-bcfbcf02ce08</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7c7e148e-9f02-3afa-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>2bbfe537-85e8-30fc-a63f-b46df1dc6350</versionedComponentId>
                    <backPressureDataSizeThreshold>100 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>61ee2612-f668-3fb5-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>1fc6af5b-cae6-31b5-bdff-59311157bf62</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name>pass</name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>f905df5c-ce8d-3466-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7ed6584d-642b-3066-87df-d23b9c9cce07</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>85d63faa-2533-352f-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>793bbbf0-491e-3dbb-99b5-4ddbd2a21f68</versionedComponentId>
                    <backPressureDataSizeThreshold>100 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>bd8cdf7b-8af0-34d3-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>898b73b3-58fd-353a-a206-1cfc98b20f32</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>1e40ef3c-3551-3ec7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1e89adc2-9199-3028-94e0-6c7539effa9d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>93febce5-5421-3a98-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>d7b6b27e-0ffb-3d89-862d-b80e29135d9d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>f905df5c-ce8d-3466-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7ed6584d-642b-3066-87df-d23b9c9cce07</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>0fe37229-b49d-317b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2f11e471-97ab-3b26-8853-fc618f249394</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>940c1416-c068-37b8-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>7b4ca235-c369-34b9-b4cf-3228e3a31eed</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>c2556304-0afc-3210-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5b2d3365-ba1a-374f-be90-435f9a50e420</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>d704dcb8-d731-3600-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>bf553306-e553-35ba-9be2-4eac5cf2acfe</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>96930206-cfd5-3fb2-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>a08a13b1-63c1-3d8f-b452-6d7892bf177f</versionedComponentId>
                    <backPressureDataSizeThreshold>200 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>2790a391-2746-34c4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>2bd076ff-e29f-3187-b80d-7ca1c0d5b341</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name>EventToBeUpdate</name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>3ed3ebb2-d557-35a0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>792c5f1f-3db6-3a39-bce7-91839bc602e0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9888b65d-cd6c-394f-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>6bc3d08a-ab1b-3372-af0b-b91e6b2fd42d</versionedComponentId>
                    <backPressureDataSizeThreshold>100 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>573afb57-126a-3e4c-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>7050402a-1d34-3e33-9784-0790dcd5e189</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name>EventToBeSkip</name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>3ed3ebb2-d557-35a0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>792c5f1f-3db6-3a39-bce7-91839bc602e0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b9e479c8-a4ca-3076-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>1b985197-c158-38e5-bce5-a6a5248c8048</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>f49ccc68-4496-36f8-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>8d578430-9e88-31b2-bb86-c11c553b9b47</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>0fe37229-b49d-317b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2f11e471-97ab-3b26-8853-fc618f249394</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bf7e6f1e-65d9-342f-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>fd4c272c-6cf5-38bf-af5f-c195d43fdcc1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>ef226613-f257-32df-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>ec4b1cea-e54d-3182-845d-f2980b829a96</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>a1ac292e-eaba-3864-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8ffc3f61-e94f-3153-bdfa-defb9e924e6d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e00da9ef-6080-3bb7-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>6ec680e1-afad-3191-bdb8-1d8971e226e1</versionedComponentId>
                    <backPressureDataSizeThreshold>100 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>597d8c25-7ee0-346f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>703dd69f-805f-34ae-b6b8-8f422408ce3b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>d0ca785b-cd6c-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0b5df99f-bdbc-3e51-be81-a81204e38808</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e575f938-ea8d-39f4-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>6187ca18-ffac-36f2-a255-2edaa25b22fb</versionedComponentId>
                    <backPressureDataSizeThreshold>100 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>c7ea8faf-cf4a-3cb7-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>73ee7533-3163-3d6f-ad31-e18f2523ba7e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>f905df5c-ce8d-3466-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7ed6584d-642b-3066-87df-d23b9c9cce07</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e6352ce4-dacc-3873-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>c11f338e-5320-3243-abfd-d072a4381537</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>f552c4f7-a84c-3553-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>efc05cca-1612-3edc-9e68-432bd0ff78d2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>1e40ef3c-3551-3ec7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1e89adc2-9199-3028-94e0-6c7539effa9d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ec728174-22c7-3ad8-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>3ed3ebb2-d557-35a0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>792c5f1f-3db6-3a39-bce7-91839bc602e0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>ce1a2dbb-da25-3dc3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ece42015-2b2f-318d-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>3d39be99-8dca-3bef-bf76-3c37c0d6c368</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>11dd5d72-05af-37c9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0c810d11-5f0f-38df-aaf6-19d4fe2e3796</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6b4b7df6-bae6-36d3-0000-000000000000</groupId>
                        <id>a1ac292e-eaba-3864-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8ffc3f61-e94f-3153-bdfa-defb9e924e6d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>fa32554e-eee5-3b51-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <versionedComponentId>ff6a36bd-df51-364f-9ed6-07bf514a4865</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-gcp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>application-default-credentials</key>
                            <value>
<name>application-default-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compute-engine-credentials</key>
                            <value>
<name>compute-engine-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>service-account-json-file</key>
                            <value>
<name>service-account-json-file</name>
                            </value>
                        </entry>
                        <entry>
                            <key>service-account-json</key>
                            <value>
<name>service-account-json</name>
                            </value>
                        </entry>
                        <entry>
                            <key>proxy-configuration-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
<name>proxy-configuration-service</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>GCPCredentialsControllerService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>application-default-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>compute-engine-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>service-account-json-file</key>
                        </entry>
                        <entry>
                            <key>service-account-json</key>
                        </entry>
                        <entry>
                            <key>proxy-configuration-service</key>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService</type>
                </controllerServices>
                <funnels>
                    <id>2790a391-2746-34c4-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>512.0</x>
                        <y>576.0</y>
                    </position>
                    <versionedComponentId>2bd076ff-e29f-3187-b80d-7ca1c0d5b341</versionedComponentId>
                </funnels>
                <funnels>
                    <id>36cf87af-8954-3aa7-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>480.0</x>
                        <y>1064.0</y>
                    </position>
                    <versionedComponentId>e8eb1a73-3336-3198-94fd-99cafff59d10</versionedComponentId>
                </funnels>
                <funnels>
                    <id>573afb57-126a-3e4c-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1592.0</x>
                        <y>568.0</y>
                    </position>
                    <versionedComponentId>7050402a-1d34-3e33-9784-0790dcd5e189</versionedComponentId>
                </funnels>
                <funnels>
                    <id>597d8c25-7ee0-346f-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1512.0</x>
                        <y>744.0</y>
                    </position>
                    <versionedComponentId>703dd69f-805f-34ae-b6b8-8f422408ce3b</versionedComponentId>
                </funnels>
                <funnels>
                    <id>61ee2612-f668-3fb5-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>784.0</x>
                        <y>1928.0</y>
                    </position>
                    <versionedComponentId>1fc6af5b-cae6-31b5-bdff-59311157bf62</versionedComponentId>
                </funnels>
                <funnels>
                    <id>72703114-72ba-345c-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1200.0</x>
                        <y>1936.0</y>
                    </position>
                    <versionedComponentId>95d49473-9396-3073-8f8b-5f22bf3378d2</versionedComponentId>
                </funnels>
                <funnels>
                    <id>7d7acdac-12c1-3c54-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1480.0</x>
                        <y>1504.0</y>
                    </position>
                    <versionedComponentId>80841a8e-dc38-3306-b614-5ff69ab28799</versionedComponentId>
                </funnels>
                <funnels>
                    <id>bd8cdf7b-8af0-34d3-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1512.0</x>
                        <y>1064.0</y>
                    </position>
                    <versionedComponentId>898b73b3-58fd-353a-a206-1cfc98b20f32</versionedComponentId>
                </funnels>
                <funnels>
                    <id>c7ea8faf-cf4a-3cb7-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1512.0</x>
                        <y>1720.0</y>
                    </position>
                    <versionedComponentId>73ee7533-3163-3d6f-ad31-e18f2523ba7e</versionedComponentId>
                </funnels>
                <funnels>
                    <id>da02f039-7f6e-3c63-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>2009.6074828136116</x>
                        <y>1859.6544015566037</y>
                    </position>
                    <versionedComponentId>4c3cb120-31ae-326f-8dba-4564bd6e6465</versionedComponentId>
                </funnels>
                <funnels>
                    <id>ec894684-6a98-3db8-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>2458.8558815568203</x>
                        <y>1676.008941259549</y>
                    </position>
                    <versionedComponentId>e0b762f1-4282-3077-8ba1-706b1f84029c</versionedComponentId>
                </funnels>
                <funnels>
                    <id>ef226613-f257-32df-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>208.0</y>
                    </position>
                    <versionedComponentId>ec4b1cea-e54d-3182-845d-f2980b829a96</versionedComponentId>
                </funnels>
                <funnels>
                    <id>f49ccc68-4496-36f8-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>480.0</x>
                        <y>1496.0</y>
                    </position>
                    <versionedComponentId>8d578430-9e88-31b2-bb86-c11c553b9b47</versionedComponentId>
                </funnels>
                <labels>
                    <id>07a269ca-1c85-3bc0-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1240.0</x>
                        <y>664.0</y>
                    </position>
                    <height>80.0</height>
                    <label>EXPECTED : 
IF STATUS FROM PUB SUB IS "LNACC_CANCEL" 
THEN APPLICATION STATUS MUST BE

"Application_Status":"Canceled"</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>344.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>614ee06e-6426-39d0-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1160.0</x>
                        <y>680.0</y>
                    </position>
                    <height>32.0</height>
                    <label>----&gt;</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>64.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>61d8c0a2-4605-3237-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>2016.0</x>
                        <y>-760.0</y>
                    </position>
                    <height>64.0</height>
                    <label> Mock  Custom Text  Flowfile </label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>288.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>79c8deb7-3d26-3950-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>2016.0</x>
                        <y>48.0</y>
                    </position>
                    <height>120.0</height>
                    <label>Mock This Available Status on Status 

LNAPP_APPRO_PASS -&gt; "Approved"
LNACC_DECLINE':'LNAPP_APPRO_FAIL':'LNACC_AUTOREJECT -&gt; "Rejected"
LNACC_EXPIRED -&gt; "Expired"
LNACC_CREATE -&gt; "Done"
LNACC_CANCEL -&gt; "Canceled"
DEFAULT_CASE -&gt; "Skip"</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>496.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>fe14effa-921c-3677-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>2016.0</x>
                        <y>-688.0</y>
                    </position>
                    <height>728.0</height>
                    <label>{
  "loanAppId": "PTSMS231215000002",
  "productTypeCode": "7002",
  "productMarketCode": "1115",
  "submitDtm": "2023-12-15T17:14:45+07:00",
  "submitChannel": "PT",
  "status": "LNACC_CANCEL",
  "statusDtm": "2023-12-15T17:17:58+07:00",
  "borrowerInfo": [
    {
      "roleTypeCode": "B",
      "cifNum": "31371839"
    }
  ],
  "creditInfo": {
    "offerCreditLimit": 40000,
    "creditLimit": 30000,
    "yearlyIntRate": 20,
    "ncbExistingDebt": 1000,
    "custAvgNetIncome": 300000,
    "stampDuty": 15
  },
  "creditScore": {
    "creditScoreDtm": "2023-12-15T17:14:45+07:00",
    "creditScoreResult": "PASSED"
  },
  "loanApprovalInfo": {
    "loanApprovalDtm": "2023-12-15T17:17:58+07:00",
    "loanApprovalCode": "PAS",
    "approvedCreditLimit": 30000,
    "termLoanInfo": {
      "term": 12,
      "termType": "M",
      "finalInstallmentAmount": 2900
    },
    "approvalCode": "910",
    "approvalId": "15325",
    "approvalRefNum": "108988-00462987/2566",
    "occupationCode": "7",
    "custAvgNetIncome": 300000,
    "ncbExistingDebt": 1000,
    "loanApprovalValidUntil": "2023-12-21T23:59:59+07:00",
    "approvalRateInfo": {
      "indexIntRate": "A00",
      "signIntRate": "+",
      "spreadIntRate": 20,
      "yearlyIntRate": 20
    }
  }
}</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>496.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processGroups>
                    <id>f6d4e581-43ad-325c-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>96.0</x>
                        <y>728.0</y>
                    </position>
                    <versionedComponentId>d3117468-f001-348b-a7ed-6253d854caa3</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3e14e777-8a37-38be-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>63e276c3-8e8c-3986-be6b-aec30406d729</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>6f443daa-4bfa-3d0f-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>2d201261-653d-3162-aa42-006869a4b911</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>edf97dfc-698b-3f34-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a2e58851-7ae6-3372-928e-cb765446d5d6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3ee3034c-9156-35ae-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>8bb86107-6a3b-36ad-8233-6739813b4a4d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>d40b55e6-a145-387c-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>1fd04c7b-df1e-3bbf-a02f-6747bdca7106</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>13865e6c-8744-3c28-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>49ad63c6-891f-35f9-bc3b-d0dc03123bfe</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4489cb7f-7bb6-3fad-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>f8feb1da-20ff-31b8-853f-aedc5b21d009</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>57a43721-5d2b-36ab-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>8c9b9b2a-bb1d-362d-b4c3-c225f280df20</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>2192f225-ff9a-3eeb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>098d0a66-ead0-3fe8-b7b2-2e2848fb7c6d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>554b12cb-aaf9-3ff4-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>d55ae874-7e9c-3a4d-acc2-8c916890ccf2</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>f8eeeab3-fb17-3605-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3860dda6-5370-3076-8ea4-d52568c8ee64</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>edf97dfc-698b-3f34-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a2e58851-7ae6-3372-928e-cb765446d5d6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6284a4bd-dd45-3fc2-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>29f72cd7-4d80-3246-8696-09550b4a891e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>02f711db-16a3-3d04-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>0ac62228-e10b-3612-85b2-f8360197f966</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>ebc628d0-c54c-31fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>93cfdab4-79d4-3a36-bdda-82ae06a61733</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>64874e18-9020-3129-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>4bdd2729-4eec-3049-b6e4-364c1b84cff4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>edf97dfc-698b-3f34-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a2e58851-7ae6-3372-928e-cb765446d5d6</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>a7247e36-7d63-383a-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>bf23e77f-3fdd-351b-af1e-6790cd3bd6e7</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6b5a2e9d-8be2-34db-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>187542af-258c-35e6-9219-5473b244003b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>9b64a9e3-04b9-36c0-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>9dc524f7-26ef-3785-926e-648bb02d5f27</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>f8eeeab3-fb17-3605-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3860dda6-5370-3076-8ea4-d52568c8ee64</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>823e91d9-fe72-3533-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>6abfc39f-e6e3-3c4e-bb0b-bcb6b7f63515</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>afe935e1-c69a-3b03-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>16f6b4a2-fcd2-315e-8ffa-db00da2704ad</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>2192f225-ff9a-3eeb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>098d0a66-ead0-3fe8-b7b2-2e2848fb7c6d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>93407245-238e-34ae-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>3ab38f42-2021-3055-bb42-df84dd013a3f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>2192f225-ff9a-3eeb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>098d0a66-ead0-3fe8-b7b2-2e2848fb7c6d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>aad8cf3a-dddf-3670-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>04b7d84f-db4e-3e62-904d-3d81de7a1a24</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b9232a03-d950-3dd1-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>9eceee29-49d9-3772-81e0-f31074d6e8be</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>13865e6c-8744-3c28-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>49ad63c6-891f-35f9-bc3b-d0dc03123bfe</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>afe935e1-c69a-3b03-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>16f6b4a2-fcd2-315e-8ffa-db00da2704ad</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d2d94025-cdbc-34ff-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>6ef9abcb-924e-3aab-b773-f067770bfc54</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>2797503b-820e-3db5-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>863224a4-b65e-3d32-8a89-5e53fdc577e2</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>aad8cf3a-dddf-3670-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>04b7d84f-db4e-3e62-904d-3d81de7a1a24</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d93268d8-608a-3820-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>3185b759-0aa7-3966-a5ba-e578b10461c1</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>aad8cf3a-dddf-3670-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>04b7d84f-db4e-3e62-904d-3d81de7a1a24</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>f8eeeab3-fb17-3605-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3860dda6-5370-3076-8ea4-d52568c8ee64</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>de1321a2-7b76-3324-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>173e6ee9-ac18-3c9f-b930-e3c83944b380</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>68837f49-98e9-3a39-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>6d46d1c9-33ad-341b-8dad-bcfbcf02ce08</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>ebc628d0-c54c-31fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>93cfdab4-79d4-3a36-bdda-82ae06a61733</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e06c7776-2437-3944-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <versionedComponentId>77124d1b-a822-3308-9af9-55a97253fdd2</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>ebc628d0-c54c-31fa-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>93cfdab4-79d4-3a36-bdda-82ae06a61733</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>f6d4e581-43ad-325c-0000-000000000000</groupId>
<id>13865e6c-8744-3c28-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>49ad63c6-891f-35f9-bc3b-d0dc03123bfe</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>02f711db-16a3-3d04-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>656.0</x>
<y>1176.0</y>
                            </position>
                            <versionedComponentId>0ac62228-e10b-3612-85b2-f8360197f966</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>0fcb05ff-6689-3bc9-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>2616.0</x>
<y>784.0</y>
                            </position>
                            <versionedComponentId>c10e2283-cb8a-3dcc-9514-641c710b70a7</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>2797503b-820e-3db5-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>656.0</x>
<y>368.0</y>
                            </position>
                            <versionedComponentId>863224a4-b65e-3d32-8a89-5e53fdc577e2</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>57a43721-5d2b-36ab-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>624.000004495706</x>
<y>588.0000038646008</y>
                            </position>
                            <versionedComponentId>8c9b9b2a-bb1d-362d-b4c3-c225f280df20</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>6f443daa-4bfa-3d0f-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>-32.0</y>
                            </position>
                            <versionedComponentId>2d201261-653d-3162-aa42-006869a4b911</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>9b64a9e3-04b9-36c0-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>616.0</x>
<y>160.0</y>
                            </position>
                            <versionedComponentId>9dc524f7-26ef-3785-926e-648bb02d5f27</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>d40b55e6-a145-387c-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>656.000004495706</x>
<y>956.0000038646008</y>
                            </position>
                            <versionedComponentId>1fd04c7b-df1e-3bbf-a02f-6747bdca7106</versionedComponentId>
                        </funnels>
                        <inputPorts>
                            <id>a7247e36-7d63-383a-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>944.0</x>
<y>-232.0</y>
                            </position>
                            <versionedComponentId>bf23e77f-3fdd-351b-af1e-6790cd3bd6e7</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Body Data Mapping</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>68837f49-98e9-3a39-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>944.0</x>
<y>1328.0</y>
                            </position>
                            <versionedComponentId>6d46d1c9-33ad-341b-8dad-bcfbcf02ce08</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Exist DB, Can Submit</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>13865e6c-8744-3c28-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>888.000004495706</x>
<y>916.0000038646008</y>
                            </position>
                            <versionedComponentId>49ad63c6-891f-35f9-bc3b-d0dc03123bfe</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.26.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>805d6100-9d65-3112-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>INSERT INTO log_app (application_date, application_status, application_id, remarks) VALUES (?::TIMESTAMPTZ, ?, ?, ?)</value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SQL - Insert app_log</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>2192f225-ff9a-3eeb-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>888.000004495706</x>
<y>540.0000038646008</y>
                            </position>
                            <versionedComponentId>098d0a66-ead0-3fe8-b7b2-2e2848fb7c6d</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.26.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>DEBUG</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>805d6100-9d65-3112-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>Use statement.type Attribute</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>log_app</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
    </entry>
    <entry>
        <key>Schema Name</key>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Ignore Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Convert JSON To SQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                        <processors>
                            <id>aad8cf3a-dddf-3670-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>888.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>04b7d84f-db4e-3e62-904d-3d81de7a1a24</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.26.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Attributes List</key>
        <value>
            <name>Attributes List</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
        <value>
            <name>attributes-to-json-regex</name>
        </value>
    </entry>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>
            <name>Include Core Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>
            <name>Null Value</name>
        </value>
    </entry>
    <entry>
        <key>JSON Handling Strategy</key>
        <value>
            <name>JSON Handling Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Pretty Print</key>
        <value>
            <dependencies>
                <dependentValues>flowfile-content</dependentValues>
                <propertyName>Destination</propertyName>
            </dependencies>
            <name>Pretty Print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Attributes List</key>
        <value>application_id,application_date,application_status,remarks</value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
    </entry>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>false</value>
    </entry>
    <entry>
        <key>JSON Handling Strategy</key>
        <value>NESTED</value>
    </entry>
    <entry>
        <key>Pretty Print</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Payload Submit (Content)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                        </processors>
                        <processors>
                            <id>afe935e1-c69a-3b03-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>888.000004495706</x>
<y>724.0000038646008</y>
                            </position>
                            <versionedComponentId>16f6b4a2-fcd2-315e-8ffa-db00da2704ad</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.26.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>sql.args.1.type</key>
        <value>
            <name>sql.args.1.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>sql.args.1.type</key>
        <value>12</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Parse Type Timestamp</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>ebc628d0-c54c-31fa-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>888.0</x>
<y>1128.0</y>
                            </position>
                            <versionedComponentId>93cfdab4-79d4-3a36-bdda-82ae06a61733</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.26.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>executesql.row.count</key>
        <value>
            <name>executesql.row.count</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to 'match' if all match</value>
    </entry>
    <entry>
        <key>executesql.row.count</key>
        <value>${executesql.row.count:equals("1")}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Can Submit ?</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>edf97dfc-698b-3f34-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>888.0</x>
<y>-64.0</y>
                            </position>
                            <versionedComponentId>a2e58851-7ae6-3372-928e-cb765446d5d6</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.26.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <dependencies>
                <dependentValues>flowfile-attribute</dependentValues>
                <propertyName>Destination</propertyName>
            </dependencies>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
    <entry>
        <key>application_date</key>
        <value>
            <name>application_date</name>
        </value>
    </entry>
    <entry>
        <key>application_id</key>
        <value>
            <name>application_id</name>
        </value>
    </entry>
    <entry>
        <key>application_status</key>
        <value>
            <name>application_status</name>
        </value>
    </entry>
    <entry>
        <key>remarks</key>
        <value>
            <name>remarks</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
    <entry>
        <key>application_date</key>
        <value>$.Application_Date</value>
    </entry>
    <entry>
        <key>application_id</key>
        <value>$.Application_Number</value>
    </entry>
    <entry>
        <key>application_status</key>
        <value>$.Application_Status</value>
    </entry>
    <entry>
        <key>remarks</key>
        <value>$.Remark</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Payload Submit (Attribute)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>f8eeeab3-fb17-3605-0000-000000000000</id>
                            <parentGroupId>f6d4e581-43ad-325c-0000-000000000000</parentGroupId>
                            <position>
<x>880.0</x>
<y>128.0</y>
                            </position>
                            <versionedComponentId>3860dda6-5370-3076-8ea4-d52568c8ee64</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.26.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>805d6100-9d65-3112-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>SELECT id from log_app WHERE application_id = '${application_id}' AND application_status = 'Success'</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Query Exist log app Success</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <logFileSuffix></logFileSuffix>
                    <name>Templated - App log Status Insert</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>0fe37229-b49d-317b-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>848.0</x>
                        <y>1464.0</y>
                    </position>
                    <versionedComponentId>2f11e471-97ab-3b26-8853-fc618f249394</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                            <entry>
<key>Output MIME Type</key>
<value>
    <name>Output MIME Type</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.1</key>
<value>
    <name>command.argument.1</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.11</key>
<value>
    <name>command.argument.11</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.12</key>
<value>
    <name>command.argument.12</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.13</key>
<value>
    <name>command.argument.13</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.2</key>
<value>
    <name>command.argument.2</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.3</key>
<value>
    <name>command.argument.3</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.4</key>
<value>
    <name>command.argument.4</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.5</key>
<value>
    <name>command.argument.5</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.6</key>
<value>
    <name>command.argument.6</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.7</key>
<value>
    <name>command.argument.7</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.8</key>
<value>
    <name>command.argument.8</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.9</key>
<value>
    <name>command.argument.9</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>curl</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Dynamic Property Arguments</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>-k -X POST -H "Content-Type: application/json" -H "Authorization: Bearer ${token}" -H "accept: */*" -H "accept-encoding: gzip, deflate, br" -d "{'Application_Status': 'New'}" "https://data.sit.appfraud.backnonprd.vayuktbcs/api/v1/eccaa6a2-e9ec-495e-ab35-52641448145c/dataSets/d12e4c99-f182-4492-b58f-b89a5c5c8c15/documents?runStrategy=true&amp;includeDetail=true"</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>1024</value>
                            </entry>
                            <entry>
<key>Output MIME Type</key>
                            </entry>
                            <entry>
<key>command.argument.1</key>
<value>-k</value>
                            </entry>
                            <entry>
<key>command.argument.11</key>
<value>--connect-timeout</value>
                            </entry>
                            <entry>
<key>command.argument.12</key>
<value>10</value>
                            </entry>
                            <entry>
<key>command.argument.13</key>
<value>https://data.appfraud.backprd.vayuktbcs/api/v1/eccaa6a2-e9ec-495e-ab35-52641448145c/dataSets/d12e4c99-f182-4492-b58f-b89a5c5c8c15/documents?runStrategy=true&amp;includeDetail=true</value>
                            </entry>
                            <entry>
<key>command.argument.2</key>
<value>-H</value>
                            </entry>
                            <entry>
<key>command.argument.3</key>
<value>Content-Type: application/json</value>
                            </entry>
                            <entry>
<key>command.argument.4</key>
<value>-d</value>
                            </entry>
                            <entry>
<key>command.argument.5</key>
<value>${body}</value>
                            </entry>
                            <entry>
<key>command.argument.6</key>
<value>-X</value>
                            </entry>
                            <entry>
<key>command.argument.7</key>
<value>PATCH</value>
                            </entry>
                            <entry>
<key>command.argument.8</key>
<value>-H</value>
                            </entry>
                            <entry>
<key>command.argument.9</key>
<value>Authorization: Bearer ${token}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Submit Application</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>11dd5d72-05af-37c9-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>848.0</x>
                        <y>320.0</y>
                    </position>
                    <versionedComponentId>0c810d11-5f0f-38df-aaf6-19d4fe2e3796</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>application/json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>1e40ef3c-3551-3ec7-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>848.0</x>
                        <y>1024.0</y>
                    </position>
                    <versionedComponentId>1e89adc2-9199-3028-94e0-6c7539effa9d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                            <entry>
<key>Output MIME Type</key>
<value>
    <name>Output MIME Type</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.1</key>
<value>
    <name>command.argument.1</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.10</key>
<value>
    <name>command.argument.10</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.11</key>
<value>
    <name>command.argument.11</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.12</key>
<value>
    <name>command.argument.12</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.13</key>
<value>
    <name>command.argument.13</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.2</key>
<value>
    <name>command.argument.2</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.3</key>
<value>
    <name>command.argument.3</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.4</key>
<value>
    <name>command.argument.4</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.5</key>
<value>
    <name>command.argument.5</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.6</key>
<value>
    <name>command.argument.6</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.7</key>
<value>
    <name>command.argument.7</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.8</key>
<value>
    <name>command.argument.8</name>
</value>
                            </entry>
                            <entry>
<key>command.argument.9</key>
<value>
    <name>command.argument.9</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>curl</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Dynamic Property Arguments</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>-k -X POST -H "Content-Type: application/x-www-form-urlencoded" -d "client_id=3b672145-9f25-4703-a062-4d54b86c6507&amp;client_secret=LHQ13nem45Eb5Pk1ujf8/GYMBqegE4e9/i+xcEPwngo=&amp;grant_type=client_credentials&amp;scope=intuition.api.dataingestion" https://auth.appfraud.backprd.vayuktbcs/connect/token</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>1024000000</value>
                            </entry>
                            <entry>
<key>Output MIME Type</key>
                            </entry>
                            <entry>
<key>command.argument.1</key>
<value>-k</value>
                            </entry>
                            <entry>
<key>command.argument.10</key>
<value>--data-urlencode</value>
                            </entry>
                            <entry>
<key>command.argument.11</key>
<value>grant_type=client_credentials</value>
                            </entry>
                            <entry>
<key>command.argument.12</key>
<value>--data-urlencode</value>
                            </entry>
                            <entry>
<key>command.argument.13</key>
<value>scope=intuition.api.dataingestion</value>
                            </entry>
                            <entry>
<key>command.argument.2</key>
<value>--location</value>
                            </entry>
                            <entry>
<key>command.argument.3</key>
<value>https://auth.appfraud.backprd.vayuktbcs/connect/token</value>
                            </entry>
                            <entry>
<key>command.argument.4</key>
<value>--header</value>
                            </entry>
                            <entry>
<key>command.argument.5</key>
<value>Content-Type: application/x-www-form-urlencoded</value>
                            </entry>
                            <entry>
<key>command.argument.6</key>
<value>--data-urlencode</value>
                            </entry>
                            <entry>
<key>command.argument.7</key>
<value>client_id=3b672145-9f25-4703-a062-4d54b86c6507</value>
                            </entry>
                            <entry>
<key>command.argument.8</key>
<value>--data-urlencode</value>
                            </entry>
                            <entry>
<key>command.argument.9</key>
<value>client_secret=LHQ13nem45Eb5Pk1ujf8/GYMBqegE4e9/i+xcEPwngo=</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RequestToken</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>3ed3ebb2-d557-35a0-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>846.9999986819355</x>
                        <y>538.0696777345804</y>
                    </position>
                    <versionedComponentId>792c5f1f-3db6-3a39-bce7-91839bc602e0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-groovyx-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>groovyx-script-file</key>
<value>
    <name>groovyx-script-file</name>
</value>
                            </entry>
                            <entry>
<key>groovyx-script-body</key>
<value>
    <name>groovyx-script-body</name>
</value>
                            </entry>
                            <entry>
<key>groovyx-failure-strategy</key>
<value>
    <name>groovyx-failure-strategy</name>
</value>
                            </entry>
                            <entry>
<key>groovyx-additional-classpath</key>
<value>
    <name>groovyx-additional-classpath</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>groovyx-script-file</key>
                            </entry>
                            <entry>
<key>groovyx-script-body</key>
<value>import org.apache.nifi.processor.io.StreamCallback
import org.apache.commons.io.IOUtils
import java.nio.charset.StandardCharsets
import groovy.json.JsonSlurper
import groovy.json.JsonOutput
import groovy.json.JsonBuilder


class MyStreamCallback implements StreamCallback {
    void process(InputStream inputStream, OutputStream outputStream) throws IOException {
        def flowfile_content = IOUtils.toString(inputStream, StandardCharsets.UTF_8)

        def json_content = new JsonSlurper().parseText(flowfile_content)

        def appStatus = mapperStatus(json_content['status'])
        if (appStatus == 'Skip') {
            throw new Exception("Status Skip");
        }

        def appNumber = json_content?.loanAppId ?: ""
        def appDate = json_content?.submitDtm ?: ""
        // def cifNumber = ""

        // if (json_content?.borrowerInfo.size() &gt; 0) {
        //     // cifNumber = json_content?.borrowerInfo[0]?.cifNum ?: ""
        // }

        def payloadMap = [
            Application_Number: appNumber,
            Application_Date: appDate,
            Application_Status: appStatus,
            // CIF_Number: cifNumber,
        ]

        def payloadJson = new JsonBuilder(payloadMap)

        def json_str = JsonOutput.toJson(payloadJson['content'])

        outputStream.write(json_str.getBytes("UTF-8"))
    }

    def mapperStatus(status) {
        switch(status) {
            case 'LNAPP_APPRO_PASS':
                return "Approved"
            case 'LNACC_DECLINE':
            case 'LNAPP_APPRO_FAIL':
            case 'LNACC_AUTOREJECT':
                return "Rejected"
            case 'LNACC_EXPIRED':
                return "Expired"
            case 'LNACC_CREATE':
                return "Done"
            case 'LNACC_CANCEL':
                return "Canceled"
            default:
                return "Skip"
        }
    }
}

def flowFile = session.get()

if (flowFile != null) {
    try {
        session.write(flowFile, new MyStreamCallback())
        session.transfer(flowFile, REL_SUCCESS)
    } catch (Exception e) {
        session.transfer(flowFile, REL_FAILURE)
    }
}</value>
                            </entry>
                            <entry>
<key>groovyx-failure-strategy</key>
<value>rollback</value>
                            </entry>
                            <entry>
<key>groovyx-additional-classpath</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>dgl-map-intuition</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0543ed</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.groovyx.ExecuteGroovyScript</type>
                </processors>
                <processors>
                    <id>8479a2a9-5d1a-3167-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1624.0</x>
                        <y>48.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{
  "loanAppId": "PTSMS231215000002",
  "productTypeCode": "7002",
  "productMarketCode": "1115",
  "submitDtm": "2023-12-15T17:14:45+07:00",
  "submitChannel": "PT",
  "status": "LNACC_CANCEL",
  "statusDtm": "2023-12-15T17:17:58+07:00",
  "borrowerInfo": [
    {
      "roleTypeCode": "B",
      "cifNum": "31371839"
    }
  ],
  "creditInfo": {
    "offerCreditLimit": 40000,
    "creditLimit": 30000,
    "yearlyIntRate": 20,
    "ncbExistingDebt": 1000,
    "custAvgNetIncome": 300000,
    "stampDuty": 15
  },
  "creditScore": {
    "creditScoreDtm": "2023-12-15T17:14:45+07:00",
    "creditScoreResult": "PASSED"
  },
  "loanApprovalInfo": {
    "loanApprovalDtm": "2023-12-15T17:17:58+07:00",
    "loanApprovalCode": "PAS",
    "approvedCreditLimit": 30000,
    "termLoanInfo": {
      "term": 12,
      "termType": "M",
      "finalInstallmentAmount": 2900
    },
    "approvalCode": "910",
    "approvalId": "15325",
    "approvalRefNum": "108988-00462987/2566",
    "occupationCode": "7",
    "custAvgNetIncome": 300000,
    "ncbExistingDebt": 1000,
    "loanApprovalValidUntil": "2023-12-21T23:59:59+07:00",
    "approvalRateInfo": {
      "indexIntRate": "A00",
      "signIntRate": "+",
      "spreadIntRate": 20,
      "yearlyIntRate": 20
    }
  }
}</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>a1ac292e-eaba-3864-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>848.0</x>
                        <y>56.0</y>
                    </position>
                    <versionedComponentId>8ffc3f61-e94f-3153-bdfa-defb9e924e6d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-gcp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>DEBUG</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>gcp-project-id</key>
<value>
    <name>gcp-project-id</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.gcp.credentials.service.GCPCredentialsService</identifiesControllerService>
    <name>GCP Credentials Provider Service</name>
</value>
                            </entry>
                            <entry>
<key>gcp-pubsub-subscription</key>
<value>
    <name>gcp-pubsub-subscription</name>
</value>
                            </entry>
                            <entry>
<key>gcp-pubsub-publish-batch-size</key>
<value>
    <name>gcp-pubsub-publish-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>api-endpoint</key>
<value>
    <name>api-endpoint</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>gcp-project-id</key>
<value>krungthai-dg-lending-sit</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>bf18c72c-ec24-3098-0000-000000000000</value>
                            </entry>
                            <entry>
<key>gcp-pubsub-subscription</key>
<value>stream.loan-application.status.fraud</value>
                            </entry>
                            <entry>
<key>gcp-pubsub-publish-batch-size</key>
<value>15</value>
                            </entry>
                            <entry>
<key>api-endpoint</key>
<value>pubsub.googleapis.com:443</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Sub - Status Fraud</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.gcp.pubsub.ConsumeGCPubSub</type>
                </processors>
                <processors>
                    <id>c2556304-0afc-3210-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1824.4442914397214</x>
                        <y>1583.4273455726038</y>
                    </position>
                    <versionedComponentId>5b2d3365-ba1a-374f-be90-435f9a50e420</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>
    <name>putsql-sql-statement</name>
</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>
    <name>Support Fragmented Transactions</name>
</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>
    <name>database-session-autocommit</name>
</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
<value>
    <name>Transaction Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>
    <name>Obtain Generated Keys</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>805d6100-9d65-3112-0000-000000000000</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>CREATE INDEX "application_status_index" ON "log_app" ("application_status");</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSQL</type>
                </processors>
                <processors>
                    <id>ce1a2dbb-da25-3dc3-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1624.0</x>
                        <y>320.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>application/json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>d0ca785b-cd6c-3be9-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>846.9999986819355</x>
                        <y>730.0696777345804</y>
                    </position>
                    <versionedComponentId>0b5df99f-bdbc-3e51-be81-a81204e38808</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>
    <name>Maximum Capture Group Length</name>
</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>
    <name>Enable Canonical Equivalence</name>
</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>
    <name>Enable Case-insensitive Matching</name>
</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>
    <name>Permit Whitespace and Comments in Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>
    <name>Enable DOTALL Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>
    <name>Enable Literal Parsing of the Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>
    <name>Enable Multiline Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>
    <name>Enable Unicode-aware Case Folding</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>
    <name>Enable Unicode Predefined Character Classes</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>
    <name>Enable Unix Lines Mode</name>
</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>
    <name>Include Capture Group 0</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>
    <name>extract-text-enable-repeating-capture-group</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>
    <name>extract-text-enable-named-groups</name>
</value>
                            </entry>
                            <entry>
<key>body</key>
<value>
    <name>body</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>1024</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>true</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>false</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>false</value>
                            </entry>
                            <entry>
<key>body</key>
<value>(?s)(^.*$)</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExtractText</type>
                </processors>
                <processors>
                    <id>d704dcb8-d731-3600-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>1854.7989129764248</x>
                        <y>1329.9662557411316</y>
                    </position>
                    <versionedComponentId>bf553306-e553-35ba-9be2-4eac5cf2acfe</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>f552c4f7-a84c-3553-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>848.0</x>
                        <y>1256.0</y>
                    </position>
                    <versionedComponentId>efc05cca-1612-3edc-9e68-432bd0ff78d2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <dependencies>
        <dependentValues>flowfile-attribute</dependentValues>
        <propertyName>Destination</propertyName>
    </dependencies>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                            <entry>
<key>token</key>
<value>
    <name>token</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                            <entry>
<key>token</key>
<value>$.access_token</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AssignToken</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>f905df5c-ce8d-3466-0000-000000000000</id>
                    <parentGroupId>6b4b7df6-bae6-36d3-0000-000000000000</parentGroupId>
                    <position>
                        <x>848.0</x>
                        <y>1680.0</y>
                    </position>
                    <versionedComponentId>7ed6584d-642b-3066-87df-d23b9c9cce07</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <dependencies>
        <dependentValues>flowfile-attribute</dependentValues>
        <propertyName>Destination</propertyName>
    </dependencies>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                            <entry>
<key>error</key>
<value>
    <name>error</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                            <entry>
<key>error</key>
<value>$.errors</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check if request success / fail</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>DGL Update Status Latest</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/24/2024 07:42:38 UTC</timestamp>
</template>
